@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

:root {
  --main-bg-color: #3c6ea4;
  --calc-bg-color: #d2cdc2;
  --button-bg-color: #d9d9d9;
  --header-gradient: linear-gradient(
    90deg,
    rgba(8, 8, 70, 1) 27%,
    rgba(114, 147, 198, 1) 44%,
    rgba(143, 168, 203, 1) 62%
  );
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: "Share Tech Mono", monospace;
  overflow: hidden;
}

.main {
  background-color: var(--main-bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  background-color: var(--calc-bg-color);
  width: 512px;
  height: 453px;
  box-shadow: 4px 4px 4px rgba(17, 0, 0, 1);
}

.calc__btn {
  box-shadow: 4px 4px 4px black;
  width: 70px;
  height: 51px;
  background-color: var(--button-bg-color);
  user-select: none;
  font-size: 20;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__btn:hover {
  box-shadow: 0px 0px 0px;
}

.calc__header {
  position: relative;
  top: 9px;
  margin-left: 8px;
  width: 495px;
  height: 32px;
  background: var(--header-gradient);
  display: flex;
  align-items: center;
  user-select: none;
}

.header__icon {
  position: absolute;
  left: 5px;
}

.header__title {
  position: absolute;
  left: 40px;
  font-size: 20;
}

.header__btns {
  display: flex;
  justify-content: space-between;
  width: 97px;
  height: 24px;
  position: absolute;
  right: 4px;
  font-size: 20;
}

.header__btn {
  width: 30px;
  height: 23px;
  background-color: var(--button-bg-color);
  box-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc__screen {
  margin-top: 40px;
  margin-left: 17px;
  width: 475px;
  max-width: 475px;
  overflow: hidden;
  height: 35px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(140, 140, 140, 1);
  border: solid 1px;
  text-align: right;
  font-size: 200%;
}

.calc__figure {
  position: relative;
  left: 10px;
  bottom: 280px;
  width: 95px;
}

.figure__img {
  height: 270px;
  width: 95px;
  filter: saturate(200%);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.calc__btns {
  width: 374px;
  height: 291px;
  margin-top: 30px;
  margin-left: 120px;
}

.btns__delete {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr;
}

.btns__grid {
  margin-top: 6px;
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "seven eight nine division sqrt"
    "four five six multiply percentage"
    "one two three subtract fraction"
    "zero positivity decimal addition equals";
}

.btn__special {
  color: red;
}

.btn__special--delete {
  width: 120px;
}

.btn__number {
  color: blue;
}

.header__title {
  color: white;
}

.btn__special--backspace {
  grid-area: backspace;
}

.btn__special--ce {
  grid-area: ce;
}

.btn__special--c {
  grid-area: c;
}

.btn__number--seven {
  grid-area: seven;
}

.btn__number--eight {
  grid-area: eight;
}

.btn__number--nine {
  grid-area: nine;
}

.btn__special--division {
  grid-area: division;
}

.btn__special--sqrt {
  grid-area: sqrt;
}

.btn__number--four {
  grid-area: four;
}

.btn__number--five {
  grid-area: five;
}

.btn__number--six {
  grid-area: six;
}

.btn__special--multiply {
  grid-area: multiply;
}

.btn__special--percentage {
  grid-area: percentage;
}

.btn__number--one {
  grid-area: one;
}

.btn__number--two {
  grid-area: two;
}

.btn__number--three {
  grid-area: three;
}

.btn__special--subtract {
  grid-area: subtract;
}

.btn__special--fraction {
  grid-area: fraction;
}

.btn__number--zero {
  grid-area: zero;
}

.btn__special--positivity {
  grid-area: positivity;
}

.btn__special--decimal {
  grid-area: decimal;
}

.btn__special--addition {
  grid-area: addition;
}

.btn__special--equals {
  grid-area: equals;
}

@media (max-width: 768px) {
  body {
    overflow-y: hidden;
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    margin: 0;
  }

  .main {
    max-width: 768px;
    max-height: 100vh;
  }

  .calc {
    height: 100%;
    width: 100%;
  }

  .calc__header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 5vh;
    margin-left: 0;
  }

  .calc__screen {
    width: 100vw;
    height: 25vh;
    margin-top: 0px;
    margin-left: 0px;
    box-shadow: 0px 4px 4px rgba(140, 140, 140, 1);
  }

  .calc__btns {
    margin-top: 0;
    margin-left: 0;
    width: 90%;
    position: absolute;
    top: 30%;
    left: 6%;
  }

  .calc__btn {
    box-shadow: 0px 4px 4px black;
    width: 100%;
  }

  .header__btn {
    box-shadow: 0px 2px 4px black;
  }

  .calc__figure {
    position: relative;
    top: 40%;
    left: 40%;
  }

  .figure__img {
    transform: rotate(62.69deg);
  }
}
